body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: beige;
    text-align: center;    
}
button{
    background-color: lightseagreen;
    color: white;
    max-width: 200px;
    margin: 10px auto;
    font-size: 2rem;
}
#random-number, #user-number{
    font-size: 4rem;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}